body {background-color: #F4C47A;}
h1 {text-align: center; color:blue;}
h2 {text-align: center; color:blue;}
h3 {color:blue;}
fieldset {width: 50%; text-align: center; border-collapse: collapse;  border: 3px solid #0AB5F7;  background-color: #FAB245; margin-left: auto;  margin-right: auto;}
legend {color: blue; font-weight: bold;}
table {  margin-left: auto; margin-right: auto; border-color:black;}
th {text-align: left; background-color: #9EEB26; border-color: black;}
.fecha {font-style: italic;}
.nombre {font-weight: bold; color:green;}
.email {text-decoration: underline;}
.oculto {display:none}

input[type=text], textarea{
  background-color: white;
}
input[type=text]:hover, textarea:hover {
  background-color: yellow;
}
#anon,#labanon {display: none;}
